// Fonts
$fontAsap: 'Asap', sans-serif;

body {
    // background-color: $redFire;
    // background: rgb(164,58,180);
    background: linear-gradient(90deg, rgb(169, 117, 177) 0%, rgb(255, 119, 151) 50%, rgb(255, 188, 116) 100%);
    // background: linear-gradient(99deg, rgba(164,58,180,1) 0%, rgba(255,69,113,1) 50%, rgba(255,161,61,1) 100%);
    font-family: $fontAsap;
}
